@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  padding: 230px 0 64px;
  margin-bottom: 200px;

  @include tablet {
    padding: 48px 0 0;
    margin-bottom: 40px;
  }
}

.introLogo {
  display: block;
  max-width: 969px;
  width: 100%;

  @include tablet {
    max-width: 292px;
  }
}

.introDescription {
  white-space: pre-line;
  height: 143px;
  font-size: 3rem;
  display: block;
  text-align: center;
  line-height: 77px;

  @include tablet {
    height: 109px;
    font-size: 1.5rem;
    line-height: 31.17px;
  }
}

.introCardsWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 95px auto;
}
