@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");
@import "./reset.scss";
@import "./variables.scss";

body {
  background-color: $black;

  font-family: "Reddit Mono", monospace;
  color: $white;
  font-size: 16px;
}

::selection {
  background: $secondary-green;
}
