@import "../../styles/variables.scss";

.link {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $primary-green;
  }

  transition: all 0.1s ease;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1rem;

  &.headerLink {
    background: $green-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.825rem;
  }
}
