@import "../../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;

  font-size: 0.875rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
