@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.footer {
  box-sizing: unset;
  display: block;
  width: 100%;
  padding: 2rem 0 2.8125rem;

  background-color: $white;

  color: $black;

  @include tablet {
    padding: 1.25rem 0 1rem;
  }
}

.footerContent {
  display: flex;
  align-items: flex-start;
  max-width: 1240px;
  width: 100%;
  margin: 32px auto 96px;
  gap: 105px;

  @include tablet {
    gap: 16px;
    justify-content: center;
    flex-direction: column;
    margin: 16px auto 24px;
  }
}

.footerLogo {
  display: block;
  width: 222px;
  height: 27.72px;
  @include tablet {
    margin: 0 auto 20px;
  }
}

.footerCopy {
  max-width: 1240px;
  width: 100%;
  padding-top: 32px;
  margin: 0 auto;
  border-top: 1px solid $grey-100;

  color: $grey;
  font-size: 0.825rem;
  font-weight: 500;
  line-height: 1.1rem;

  @include tablet {
    display: flex;
    max-width: 380px;
    text-align: center;
    width: 100%;
  }
}

.footerLinks {
  display: flex;
  gap: 145px;
  @include tablet {
    gap: 20px;
    margin: auto;
  }
}

.footerLinksColumn {
  display: flex;
  width: 150px;
  flex-direction: column;
  gap: 24px;
}

.footerLinksColumnTitle {
  color: $grey;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
  text-align: left;
}

.footerLinksColumnList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: -12px;
}
